/* CSS MASTER STYLESHEET */

/* Send Request-button */
#sendRequestButton{
    -fx-background-color: transparent;
    -fx-background-radius: 20;

    -fx-border-color: #F3A304;
    -fx-border-width: 2;
    -fx-border-radius: 20;
}

#sendRequestButton:hover{
    -fx-background-color: #F3A304;
    -fx-border-color: #F3A304;

    -fx-text-fill: white;
}

.TextFieldEmpty{
    -fx-border-color: #d14b4b;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #F7F8FC;
}

.TextFieldFilled{
    -fx-border-color: #e6e6e6;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: #F7F8FC;
}